body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1d79ce;
    background-image: url(calcu.png);
}

.calculator {
    width: 285px;
    text-align: center;
    border: 1px solid #7d7d7d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    background-color: rgb(49, 68, 80);
}

#display {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgb(207, 227, 245);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    background-color: #0093bbba;
    color: #fff;
    transition: background-color 0.3s;
    
}

.backspace{
    background-color: #0d62b1c2;
}
.backspace:hover{
    background-color: #0656a1c4;
}

button:hover {
    background-color: #4fa3d1;
}

button.operator {
    background-color: #ff8c00;
}

button.operator:hover {
    background-color: #e07a00;
}

button.equal {
    background-color: #28a745;
    grid-row: span 2;
}

button.equal:hover {
    background-color: #218838;
}

button.clear {
    background-color: #dc3545;
}

button.clear:hover {
    background-color: #c82333;
    text-transform: capitalize;
    background-color: lightblue;
    overflow: hidden;
}

.zero{
    grid-column: span 2;
}